airbnb-data-factory-1/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "airbnb-data-factory-1"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"cosmosdbcon_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'cosmosdbcon'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://synapseprimarygds1.dfs.core.windows.net/"
		},
		"synapseconn_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "airbnb-synapse-ws.sql.azuresynapse.net"
		},
		"synapseconn_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dedicatedsqlpool"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cosmosdbcon')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('cosmosdbcon_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/synapseconn')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('synapseconn_properties_typeProperties_server')]",
					"database": "[parameters('synapseconn_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BookingDataCosmosSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cosmosdbcon",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "bookings"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/cosmosdbcon')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BookingFactSynapse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "synapseconn",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "booking_id",
						"type": "nvarchar"
					},
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "listing_id",
						"type": "nvarchar"
					},
					{
						"name": "status",
						"type": "nvarchar"
					},
					{
						"name": "booking_created_at",
						"type": "date"
					},
					{
						"name": "checkin_date",
						"type": "date"
					},
					{
						"name": "checkout_date",
						"type": "date"
					},
					{
						"name": "nights",
						"type": "int",
						"precision": 10
					},
					{
						"name": "lead_time_days",
						"type": "int",
						"precision": 10
					},
					{
						"name": "guests_adults",
						"type": "int",
						"precision": 10
					},
					{
						"name": "guests_children",
						"type": "int",
						"precision": 10
					},
					{
						"name": "guests_infants",
						"type": "int",
						"precision": 10
					},
					{
						"name": "price_nightly",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "cleaning_fee",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "total_amount",
						"type": "decimal",
						"precision": 14,
						"scale": 2
					},
					{
						"name": "currency",
						"type": "nvarchar"
					},
					{
						"name": "country_code",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "channel",
						"type": "nvarchar"
					},
					{
						"name": "device_type",
						"type": "nvarchar"
					},
					{
						"name": "cancellation_ts",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "cancellation_reason",
						"type": "nvarchar"
					},
					{
						"name": "updated_at",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "airbnb",
					"table": "fact_booking"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/synapseconn')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerDataArchive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "customer-archive-data",
						"fileSystem": "airbnb"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerDataSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "customer-raw-data",
						"fileSystem": "airbnb"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerDimSynapse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "synapseconn",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "first_name",
						"type": "nvarchar"
					},
					{
						"name": "last_name",
						"type": "nvarchar"
					},
					{
						"name": "email",
						"type": "nvarchar"
					},
					{
						"name": "phone_number",
						"type": "nvarchar"
					},
					{
						"name": "address",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "country",
						"type": "nvarchar"
					},
					{
						"name": "zip_code",
						"type": "nvarchar"
					},
					{
						"name": "signup_date",
						"type": "date"
					},
					{
						"name": "last_login",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "total_bookings",
						"type": "int",
						"precision": 10
					},
					{
						"name": "total_spent",
						"type": "decimal",
						"precision": 14,
						"scale": 2
					},
					{
						"name": "preferred_language",
						"type": "nvarchar"
					},
					{
						"name": "referral_code",
						"type": "nvarchar"
					},
					{
						"name": "account_status",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "airbnb",
					"table": "dim_customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/synapseconn')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadCustomerDim')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CustomerRawfileMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CustomerDataSource",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ProcessEachcutomerfile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "CustomerRawfileMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('CustomerRawfileMetaData').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copycustomerdatatosynapse",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": "customer-raw-data",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink",
											"writeBehavior": "Upsert",
											"upsertSettings": {
												"keys": [
													"customer_id"
												],
												"interimSchemaName": ""
											},
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "CustomerDataSource",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "CustomerDimSynapse",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "CopyDataInArchive",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copycustomerdatatosynapse",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": "customer-raw-data",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "CustomerDataSource",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "CustomerDataArchive",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DeleteSourceFile",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "CopyDataInArchive",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "CustomerDataSource",
											"type": "DatasetReference",
											"parameters": {}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"wildcardFileName": {
												"value": "@item().name",
												"type": "Expression"
											},
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CustomerDataSource')]",
				"[concat(variables('factoryId'), '/datasets/CustomerDimSynapse')]",
				"[concat(variables('factoryId'), '/datasets/CustomerDataArchive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BookingTransformation')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "BookingDataCosmosSource",
								"type": "DatasetReference"
							},
							"name": "BookingsourceCosmos"
						},
						{
							"dataset": {
								"referenceName": "BookingFactSynapse",
								"type": "DatasetReference"
							},
							"name": "SynapseBookingFct"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "BookingFactSynapse",
								"type": "DatasetReference"
							},
							"name": "synapseTarget"
						}
					],
					"transformations": [
						{
							"name": "DataQualityCheck"
						},
						{
							"name": "lookupforInsertUpdate"
						},
						{
							"name": "GenerateInsertUpdateFlag"
						},
						{
							"name": "FinalColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          city as string,",
						"          channel as string,",
						"          nights as short,",
						"          checkout_date as date,",
						"          customer_id as short,",
						"          guests_adults as short,",
						"          listing_id as integer,",
						"          checkin_date as date,",
						"          booking_created_at as string,",
						"          device_type as string,",
						"          country_code as string,",
						"          cancellation_reason as string,",
						"          lead_time_days as short,",
						"          booking_id as string,",
						"          price_nightly as double,",
						"          guests_infants as integer,",
						"          status as string,",
						"          guests_children as integer,",
						"          currency as string,",
						"          total_amount as double,",
						"          updated_at as string,",
						"          cancellation_ts as string,",
						"          cleaning_fee as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     enableChangeFeed: true,",
						"     changeFeedStartFromTheBeginning: true,",
						"     format: 'document') ~> BookingsourceCosmos",
						"source(output(",
						"          booking_id as string,",
						"          customer_id as integer,",
						"          listing_id as string,",
						"          status as string,",
						"          booking_created_at as date,",
						"          checkin_date as date,",
						"          checkout_date as date,",
						"          nights as integer,",
						"          lead_time_days as integer,",
						"          guests_adults as integer,",
						"          guests_children as integer,",
						"          guests_infants as integer,",
						"          price_nightly as decimal(12,2),",
						"          cleaning_fee as decimal(12,2),",
						"          total_amount as decimal(14,2),",
						"          currency as string,",
						"          country_code as string,",
						"          city as string,",
						"          channel as string,",
						"          device_type as string,",
						"          cancellation_ts as timestamp,",
						"          cancellation_reason as string,",
						"          updated_at as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table',",
						"     staged: true) ~> SynapseBookingFct",
						"BookingsourceCosmos split(checkout_date < checkin_date,",
						"     disjoint: false) ~> DataQualityCheck@(BadRecords, AccepctedRecords)",
						"DataQualityCheck@AccepctedRecords, SynapseBookingFct lookup(DataQualityCheck@AccepctedRecords@booking_id == SynapseBookingFct@booking_id,",
						"     multiple: false,",
						"     pickup: 'first',",
						"     desc(SynapseBookingFct@updated_at, true),",
						"     broadcast: 'auto')~> lookupforInsertUpdate",
						"lookupforInsertUpdate alterRow(insertIf(isNull(SynapseBookingFct@booking_id)),",
						"     updateIf(not(isNull(SynapseBookingFct@booking_id)))) ~> GenerateInsertUpdateFlag",
						"GenerateInsertUpdateFlag select(mapColumn(",
						"          city = DataQualityCheck@AccepctedRecords@city,",
						"          channel = DataQualityCheck@AccepctedRecords@channel,",
						"          nights = DataQualityCheck@AccepctedRecords@nights,",
						"          checkout_date = DataQualityCheck@AccepctedRecords@checkout_date,",
						"          customer_id = DataQualityCheck@AccepctedRecords@customer_id,",
						"          guests_adults = DataQualityCheck@AccepctedRecords@guests_adults,",
						"          listing_id = DataQualityCheck@AccepctedRecords@listing_id,",
						"          checkin_date = DataQualityCheck@AccepctedRecords@checkin_date,",
						"          booking_created_at = DataQualityCheck@AccepctedRecords@booking_created_at,",
						"          device_type = DataQualityCheck@AccepctedRecords@device_type,",
						"          country_code = DataQualityCheck@AccepctedRecords@country_code,",
						"          cancellation_reason = DataQualityCheck@AccepctedRecords@cancellation_reason,",
						"          lead_time_days = DataQualityCheck@AccepctedRecords@lead_time_days,",
						"          booking_id = DataQualityCheck@AccepctedRecords@booking_id,",
						"          price_nightly = DataQualityCheck@AccepctedRecords@price_nightly,",
						"          guests_infants = DataQualityCheck@AccepctedRecords@guests_infants,",
						"          status = DataQualityCheck@AccepctedRecords@status,",
						"          guests_children = DataQualityCheck@AccepctedRecords@guests_children,",
						"          currency = DataQualityCheck@AccepctedRecords@currency,",
						"          total_amount = DataQualityCheck@AccepctedRecords@total_amount,",
						"          updated_at = DataQualityCheck@AccepctedRecords@updated_at,",
						"          cancellation_ts = DataQualityCheck@AccepctedRecords@cancellation_ts,",
						"          cleaning_fee = DataQualityCheck@AccepctedRecords@cleaning_fee",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> FinalColumns",
						"FinalColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          booking_id as string,",
						"          customer_id as integer,",
						"          listing_id as string,",
						"          status as string,",
						"          booking_created_at as date,",
						"          checkin_date as date,",
						"          checkout_date as date,",
						"          nights as integer,",
						"          lead_time_days as integer,",
						"          guests_adults as integer,",
						"          guests_children as integer,",
						"          guests_infants as integer,",
						"          price_nightly as decimal(12,2),",
						"          cleaning_fee as decimal(12,2),",
						"          total_amount as decimal(14,2),",
						"          currency as string,",
						"          country_code as string,",
						"          city as string,",
						"          channel as string,",
						"          device_type as string,",
						"          cancellation_ts as timestamp,",
						"          cancellation_reason as string,",
						"          updated_at as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:['booking_id'],",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> synapseTarget"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BookingDataCosmosSource')]",
				"[concat(variables('factoryId'), '/datasets/BookingFactSynapse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadBookingFact')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BookingTransformation",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "BookingTransformation",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"BookingsourceCosmos": {},
									"SynapseBookingFct": {},
									"synapseTarget": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "AzureDataLakeStorage1",
									"type": "LinkedServiceReference"
								},
								"folderPath": "synapsedata"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"continuationSettings": {
								"customizedCheckpointKey": "7c9bb208-514f-4619-9b0e-830313c0307c"
							}
						}
					},
					{
						"name": "PopulateaggregateTable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "BookingTransformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[airbnb].[BookingAggregation]"
						},
						"linkedServiceName": {
							"referenceName": "synapseconn",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/BookingTransformation')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]",
				"[concat(variables('factoryId'), '/linkedServices/synapseconn')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FinalAirbnbpipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loadcustomerdim",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadCustomerDim",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "loadbookingfact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Loadcustomerdim",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadBookingFact",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/LoadCustomerDim')]",
				"[concat(variables('factoryId'), '/pipelines/LoadBookingFact')]"
			]
		}
	]
}